* {
    background-color: rgb(199, 195, 195);
}

#logo {
    width: 100px;
    height: auto;
    padding: 2em;
    align-content: center;
}

#title  {
    font-family:'Courier New', Courier, monospace;
    font-size: 50px;
    align-content: center;
}

body  {
    margin: 0;
    padding: var(--spacing-3)0;
    display: flex;
    flex-direction: column;  
    max-width: 1200px;
    margin: 0 auto;
}

nav  {
    display: flex;
    align-items: center;    
}

.navigation-items {
    display: flex;
    list-style-type: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 0;
    align-items: center;
    margin: 0;
    margin-left: auto;
    padding-right: 2em;
}

.nav-item:hover  {
    text-decoration: underline;
}

.nav-item {
    margin-left: 2em;
}

a  {
    text-decoration: none;
    color: black;
    font-weight: 600;
    padding: var(--spacing-3) 0;
}

#about-me, #projects, #skills, #contact {
    margin-left: 2em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.about-me-container, .projects {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
        
}

.about-me-text-container  {
    max-width: 800px;
    min-width: 400px;
}

.portrait  {
    width: 300px;
    height: auto;
    justify-content: right;
    padding-right: 2em;
}

#button  {
    background-color: black;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.project-image  {
    display:inline-flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 380px;
}

.skills-container  {
    display: inline-flex;
    flex-direction: column;
}

#arrow-down  {
    width: 2em;
}

i  {
    font-size: 2.5em;
}

#icons  {
    padding: 1em;
    padding-left: 0;
}

footer  {
    align-self: center;
    margin-bottom: 2em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

@media only screen and (max-width: 600px)  {
    .about-me-container {
        flex-direction: column;
    }
}